In [1]:
import os
os.chdir("../")

In [6]:
import pandas as pd
import json
import sys
sys.path.append('./src')
from data import load_data

def generate_monthly_data(df,groupby_col, date_col='date'):
    result_dfs = []
    for well, data in df.groupby(groupby_col):
        data = data.set_index(date_col)
        idx = pd.date_range(data.index.min(), data.index.max(), freq='MS')
        data = data.reindex(idx)
        data = data.reset_index()
        data[groupby_col] = well
        result_dfs.append(data)
    result_df = pd.concat(result_dfs)
    return result_df

config_file = "./config.json"
with open(config_file, 'r') as f:
    config = json.load(f)
train_data_path = config["train_data_path"]
df = load_data(train_data_path) 
X = df.drop(columns='cluster')
y = df.cluster
df = (X.explode(['date','value'])
      .assign(date = lambda df: pd.to_datetime(df['date']))
      .pipe(generate_monthly_data,'well', 'date')
      )

In [8]:
import pandas as pd
import json
import sys
sys.path.append('./src')
from data import load_data

def calculate_time_relative(df, groupby_col, date_col='date'):
    min_dates = df.groupby(groupby_col)[date_col].min()
    df['time_relative'] = df.apply(lambda row: (row[date_col] - min_dates[row[groupby_col]]).days, axis=1)
    return df

config_file = "./config.json"
with open(config_file, 'r') as f:
    config = json.load(f)
train_data_path = config["train_data_path"]
df = load_data(train_data_path) 
X = df.drop(columns='cluster')
y = df.cluster
df = (X.explode(['date','value'])
      .assign(date = lambda df: pd.to_datetime(df['date']))
      .pipe(calculate_time_relative, 'well', 'date')
      )
df

         well       date      value  time_relative
0      well_9 1977-01-01   0.939394              0
0      well_9 1977-02-01   0.965517             31
0      well_9 1977-03-01        0.0             59
0      well_9 1977-04-01        0.0             90
0      well_9 1977-05-01        0.0            120
..        ...        ...        ...            ...
369  well_575 2017-10-01  12.052015           3409
369  well_575 2017-11-01  14.237062           3440
369  well_575 2017-12-01  17.529553           3470
369  well_575 2018-01-01  17.726489           3501
369  well_575 2018-02-01   17.30763           3532

[106767 rows x 4 columns]